<div class="list-item" [class.loading]="isLoading">
  <div class="list-item--image">
    <img src="assets/logo_black.svg" alt="warehouse-item-image" />
  </div>
  <div class="list-item--content">
    <span
      ><b>{{ item.name }}</b></span
    >
    <!-- <span>{{ item.description }}</span> -->
    <span>Lorem ipsum dolor sit amet</span>
  </div>
  <span>{{ item.quantity }}x</span>
  <span>{{ item.price | currency: 'EUR' }}</span>
  <button
    class="list-item--button"
    test-increase
    (click)="onIncreaseStock()"
    [disabled]="isLoading"
  >
    +
  </button>
  <button
    class="list-item--button"
    test-decrease
    (click)="onDecreaseStock()"
    [disabled]="isLoading"
  >
    -
  </button>
  <button
    class="list-item--button"
    test-delete
    (click)="onDelete()"
    [disabled]="isLoading"
  >
    Delete
  </button>
</div>
